<section class="l-login">
  <div class="m-login">
    <h2 class="m-login__title">login</h2>

    <div class="m-login__form">

      <form [formGroup]="loginForm" (submit)="login()">

        <mat-form-field class="m-login__form__group">
          <input
            #userEmailInput
            formControlName="email"
            matInput
            placeholder="e-mail"
            class="m-login__form__input"
            autofocus>
            <mat-error *ngIf="loginForm.get('email').errors?.required">
              Por favor, preencha o campo e-mail.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="m-login__form__group">
          <input
            matInput
            formControlName="password"
            placeholder="senha"
            type="password"
            class="m-login__form__input">
            <mat-error *ngIf="loginForm.get('password').errors?.required">
              Por favor, preencha o campo senha.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="m-login__form__btn" [disabled]="loginForm.invalid">Entrar</button>

        <a routerLink="/sales" class="m-login__form__link">Esqueceu sua senha?</a>

      </form>

    </div>
  </div>
</section>
